.borde {
    border: 1px solid red;
}
.collection .collection-item.avatar {
    min-height:50px;
}
.row {
    margin-bottom: 0;
}
.font2em {
    font-size: 2em;
    text-align: center;
}

