
<div class="container" style="margin-top: 30px" ng-app="app">
    <div id="profile-page" class="section" ng-controller="ctrl">

        <div id="profile-page-header" class="card">

            <div class="card-content light-blue white-text">
                <h5 class="task-card-title">Gestión de Artículos</h5>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s12 right-align">
                        <a class="btn-floating activator waves-effect waves-light darken-2 right">
                            <i class="mdi-action-search"></i>
                        </a>
                    </div>
                    <div class="col s12 m6">
                        <form class="contact-form">
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="mdi-communication-vpn-key prefix"></i>
                                    <input id="txtcodigo" type="text" ng-model="articulo.Codigo" placeholder="Codigo">
                                    <label for="txtcodigo">Código</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    @Html.DropDownList("cboCategoria",null, "-- SELECCIONE CATEGORIA --", new { ng_model = "articulo.CategoriaId" })

                                </div>
                                <div class="input-field col s6">
                                    @Html.DropDownList("cboMarca", null,"-- SELECCIONE MARCA --", new { ng_model = "articulo.MarcaId" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-credit-card prefix"></i>
                                    <input id="txtdenominacion" type="text" ng-model="articulo.Denominacion" placeholder="Ingrese Denominacion">
                                    <label for="txtdenominacion">Denominación</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-receipt prefix"></i>
                                    <textarea id="txtdescripcion" class="materialize-textarea" ng-model="articulo.Descripcion" placeholder="Ingrese Detalle"></textarea>
                                    <label for="txtdescripcion">Descripción</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m6 l4">
                                    <i class="mdi-maps-local-grocery-store prefix"></i>
                                    <input id="txtp" type="text" ng-model="articulo.Precio" placeholder="0.00">
                                    <label for="txtp">Precio</label>
                                </div>

                                <div class="input-field col s6 m6 l4">
                                    <p>
                                        <input type="checkbox" class="checkbox" id="cagree" name="cagree" ng-model="articulo.Estado" />
                                        <label for="cagree">Artículo Activo</label>
                                    </p>
                                </div>
                                <div class="input-field col s12 m12 l4">
                                    <button class="btn cyan waves-effect waves-light right" type="button" name="action" ng-click="Mantener()">
                                        Guardar
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s12 m6">
                        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="mdi-communication-live-help"></i> Caracteristicas</div>

                                <div class="row">

                                    <div class="input-field col s12">
                                        <div class="col s12 m8 l12">
                                            <div class="row">
                                                <form class="col s12">
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input type="text" class="form-control" placeholder="Detalle Articulo" name="txtdetart" ng-model="articulo.detalle" required>
                                                            <label for="txtdetart">Detalle Articulo</label>
                                                        </div>                                                        
                                                    </div>


                                                  
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="collapsible-header"><i class="mdi-editor-insert-emoticon"></i> CARACT</div>
                                <div class="collapsible-body" style="">
                                    <div class="row">

                                        <div class="input-field col s12">
                                            kk
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m6">
                        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="mdi-communication-live-help"></i> Caracteristicas</div>

                                <div class="row">

                                    <div class="input-field col s12">
                                        <div class="col s12 m8 l12">
                                            <div class="row">
                                                <form class="col s12">
                                                    <div class="row">
                                                        <div class="input-field col s6">

                                                            <input type="text" class="form-control" placeholder="name" name="name" ng-model="articulo.name" required>
                                                            <label for="first_name">First Name</label>
                                                        </div>
                                                        <div class="input-field col s6">
                                                            
                                                            <input type="text" class="form-control" placeholder="last name" name="lastname" ng-model="articulo.lastname" required>
                                                            <label for="last_name">Last Name</label>
                                                        </div>
                                                    </div>

                                                   
                                                        <div class="row">
                                                            <div class="input-field col s6">
                                                                
                                                                <input type="text" class="form-control" placeholder="first_name" name="firstname" ng-model="articulo.firstname" required>
                                                                <label for="first_name">First Name</label>
                                                            </div>
                                                            <div class="input-field col s6">
                                                                
                                                                <input type="text" class="form-control" placeholder="last_name" name="lastname1" ng-model="articulo.lastname1" required>
                                                                <label for="last_name">Last Name</label>
                                                            </div>
                                                        </div>
                                                   
                                                    <div class="row">
                                                       
                                                            <div class="input-field col s6">
                                                               
                                                                <input type="text" class="form-control" placeholder="first_name" name="firstname2" ng-model="articulo.firstname2" required>
                                                                <label for="first_name">First Name</label>
                                                            </div>
                                                            <div class="input-field col s6">
                                                               
                                                                <input type="text" class="form-control" placeholder="last_name" name="lastname3" ng-model="articulo.lastname3" required>
                                                                <label for="last_name">Last Name</label>
                                                            </div>
                                                        </div>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                           
                            <li>
                                <div class="collapsible-header"><i class="mdi-editor-insert-emoticon"></i> CARACT</div>
                                <div class="collapsible-body" style="">
                                    <div class="row">

                                        <div class="input-field col s12">    
                                            kk
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="pnlbuscador" class="card-reveal">
                <div class="row">
                    <form class="col s11">
                        <div class="input-field">
                            <i class="mdi-action-search prefix"></i>
                            <input id="txtbuscar" type="text" class="validate" ng-model="txtbuscar" ng-keypress="($event.which === 13)?Buscar():0" autocomplete="off">
                            <label for="txtbuscar">Buscar Artículo</label>
                        </div>
                    </form>
                    <div class="col s1">
                        <span class="card-title"><i class="mdi-navigation-close right"></i></span>
                    </div>
                </div>
                <div id="email-list" class="col s10 m4 l4 card-panel z-depth-1">
                    <ul class="collection">
                        <li class="collection-item email-unread" ng-repeat="a in articulos" onclick="CerrarPanel()" ng-click="ProcesarArticulo(a)">
                            <span class="email-title">{{a.Denominacion}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
              

    </div>
</div>


<!--Striped Table-->

   


@section scripts{
    <script>
        $(function () {

        });
        function CerrarPanel() {
            $("#pnlbuscador").velocity(
                { translateY: 0 }, {
                    duration: 225,
                    queue: false,
                    easing: 'easeInOutQuad',
                    complete: function () { $(this).css({ display: 'none' }); }
                }
               );
        };

        //var myapp = angular.module("app", []);

        myapp.controller("ctrl", function ($scope, $http) {
            $scope.articulos = [];
            $scope.articulo = { Estado: true };
            $scope.Mantener = function () {
                $http.post('@Url.Action("Mantener", "Articulo")', $scope.articulo)
                .success(function (d) {
                    Materialize.toast('Se guardó Correctamente', 4000);
                    $scope.articulo = { Estado: true };
                });
            }
            $scope.Buscar = function () {
        
                $http.get('@Url.Action("Buscar", "Articulo")', { params: { pClave: $scope.txtbuscar } })
                .success(function (d) {
                    $scope.articulos = d;
                });
            }
            $scope.ProcesarArticulo = function (a) {
                $scope.articulo = {};
                $scope.articulo = a;
                $("#cboCategoria").val(a.CategoriaId).material_select();
                $("#cboMarca").val(a.MarcaId).material_select();
            }

        });

        

    </script>
}


