
<div class="container" style="margin-top: 30px" ng-app="app">
    <div id="profile-page" class="section" ng-controller="ctrl">

        <div id="profile-page-header" class="card">

            <div class="card-content light-blue white-text">
                <h5 class="task-card-title">Gestión de Artículos</h5>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s12 right-align">
                        <a class="btn-floating activator waves-effect waves-light darken-2 right">
                            <i class="mdi-action-search"></i>
                        </a>
                    </div>
                    <div class="col s12 m6">
                        <form class="contact-form">
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="mdi-communication-vpn-key prefix"></i>
                                    <input id="txtcodigo" type="text" ng-model="articulo.Codigo" placeholder="Codigo">
                                    <label for="txtcodigo">Código</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    @Html.DropDownList("cboCategoria",null, "-- SELECCIONE CATEGORIA --", new { ng_model = "articulo.CategoriaId" })

                                </div>
                                <div class="input-field col s6">
                                    @Html.DropDownList("cboMarca", null,"-- SELECCIONE MARCA --", new { ng_model = "articulo.MarcaId" })

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-credit-card prefix"></i>
                                    <input id="txtdenominacion" type="text" ng-model="articulo.Denominacion" placeholder="Ingrese Denominacion">
                                    <label for="txtdenominacion">Denominación</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="mdi-action-receipt prefix"></i>
                                    <textarea id="txtdescripcion" class="materialize-textarea" ng-model="articulo.Descripcion" placeholder="Ingrese Detalle"></textarea>
                                    <label for="txtdescripcion">Descripción</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m6 l4">
                                    <i class="mdi-maps-local-grocery-store prefix"></i>
                                    <input id="txtp" type="text" ng-model="articulo.Precio" placeholder="0.00">
                                    <label for="txtp">Precio</label>
                                </div>

                                <div class="input-field col s6 m6 l4">
                                    <p>
                                        <input type="checkbox" class="checkbox" id="cagree" name="cagree" ng-model="articulo.Estado" />
                                        <label for="cagree">Artículo Activo</label>
                                    </p>
                                </div>
                                <div class="input-field col s12 m12 l4">
                                    <button class="btn cyan waves-effect waves-light right" type="button" name="action" ng-click="Mantener()">
                                        Guardar
                                        <i class="mdi-content-save right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col s12 m6">
                        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="mdi-communication-live-help"></i> FAQ</div>
                                <div class="collapsible-body" style="">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </li>
                            <li class="active">
                                <div class="collapsible-header active"><i class="mdi-communication-email"></i> Need Help?</div>
                                <div class="collapsible-body" style="display: none;">
                                    <p>We welcome your inquiries at the email address <a mailto="support@geekslabs.com">support@geekslabs.com</a>.We will get in touch with you soon.</p>
                                    <p>As a creative studio we believe no client is too big nor too small to work with us to obtain good advantage.By combining the creativity of artists with the precision of engineers we develop custom solutions that achieve results. <a href="http://themeforest.net/user/geekslabs/portfolio" target="_blank">See our work.</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="mdi-editor-insert-emoticon"></i> Testimonial</div>
                                <div class="collapsible-body" style="">
                                    <blockquote>Fantastic product, my sites all run super fast and the support is excellent!<br>The website you designed helped a lot! </blockquote>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="pnlbuscador" class="card-reveal">
                <div class="row">
                    <form class="col s11">
                        <div class="input-field">
                            <i class="mdi-action-search prefix"></i>
                            <input id="txtbuscar" type="text" class="validate" ng-model="txtbuscar" ng-keypress="($event.which === 13)?Buscar():0" autocomplete="off">
                            <label for="txtbuscar">Buscar Artículo</label>
                        </div>
                    </form>
                    <div class="col s1">
                        <span class="card-title"><i class="mdi-navigation-close right"></i></span>
                    </div>
                </div>
                <div id="email-list" class="col s10 m4 l4 card-panel z-depth-1">
                    <ul class="collection">
                        <li class="collection-item email-unread" ng-repeat="a in articulos" onclick="CerrarPanel()" ng-click="ProcesarArticulo(a)">
                            <span class="email-title">{{a.Denominacion}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div id="profile-page-content" class="row">
            <!-- profile-page-sidebar-->
            <div id="profile-page-sidebar" class="col s12 m4">
                <!-- Profile About  -->
                <div class="card light-blue">
                    <div class="card-content white-text">
                        <span class="card-title">About Me!</span>
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>


            </div>
            <!-- profile-page-sidebar-->
            <!-- profile-page-wall -->
            <div id="profile-page-wall" class="col s12 m8">
                <!-- profile-page-wall-share -->
                <div id="profile-page-wall-share" class="row">
                    <div class="col s12">
                        <ul class="tabs tab-profile z-depth-1 light-blue">

                            <li class="tab col s3">
                                <a class="white-text waves-effect waves-light" href="#AddPhotos"><i class="mdi-image-camera-alt"></i> Add Photos</a>
                            </li>
                            <li class="tab col s3">
                                <a class="white-text waves-effect waves-light" href="#CreateAlbum"><i class="mdi-image-photo-album"></i> Create Album</a>
                            </li>
                        </ul>
                        <!-- AddPhotos -->
                        <div id="AddPhotos" class="tab-content col s12  grey lighten-4">
                            <div class="row">
                                <div class="col s2">
                                    <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image-post">
                                </div>
                                <div class="input-field col s10">
                                    <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                                    <label for="textarea" class="">Share your favorites photos!</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 share-icons">
                                    <a href="#"><i class="mdi-image-camera-alt"></i></a>
                                    <a href="#"><i class="mdi-action-account-circle"></i></a>
                                    <a href="#"><i class="mdi-hardware-keyboard-alt"></i></a>
                                    <a href="#"><i class="mdi-communication-location-on"></i></a>
                                </div>
                                <div class="col s12 m6 right-align">
                                    <!-- Dropdown Trigger -->
                                    <a class='dropdown-button btn' href='#' data-activates='profliePost2'><i class="mdi-action-language"></i> Public</a>

                                    <!-- Dropdown Structure -->
                                    <ul id='profliePost2' class='dropdown-content'>
                                        <li><a href="#!"><i class="mdi-action-language"></i> Public</a></li>
                                        <li><a href="#!"><i class="mdi-action-face-unlock"></i> Friends</a></li>
                                        <li><a href="#!"><i class="mdi-action-lock-outline"></i> Only Me</a></li>
                                    </ul>

                                    <a class="waves-effect waves-light btn"><i class="mdi-maps-rate-review left"></i>Post</a>
                                </div>
                            </div>
                        </div>
                        <!-- CreateAlbum -->
                        <div id="CreateAlbum" class="tab-content col s12  grey lighten-4">
                            <div class="row">
                                <div class="col s2">
                                    <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image-post">
                                </div>
                                <div class="input-field col s10">
                                    <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                                    <label for="textarea" class="">Create awesome album.</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 share-icons">
                                    <a href="#"><i class="mdi-image-camera-alt"></i></a>
                                    <a href="#"><i class="mdi-action-account-circle"></i></a>
                                    <a href="#"><i class="mdi-hardware-keyboard-alt"></i></a>
                                    <a href="#"><i class="mdi-communication-location-on"></i></a>
                                </div>
                                <div class="col s12 m6 right-align">
                                    <!-- Dropdown Trigger -->
                                    <a class='dropdown-button btn' href='#' data-activates='profliePost3'><i class="mdi-action-language"></i> Public</a>

                                    <!-- Dropdown Structure -->
                                    <ul id='profliePost3' class='dropdown-content'>
                                        <li><a href="#!"><i class="mdi-action-language"></i> Public</a></li>
                                        <li><a href="#!"><i class="mdi-action-face-unlock"></i> Friends</a></li>
                                        <li><a href="#!"><i class="mdi-action-lock-outline"></i> Only Me</a></li>
                                    </ul>

                                    <a class="waves-effect waves-light btn"><i class="mdi-maps-rate-review left"></i>Post</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ profile-page-wall-share -->

            </div>
            <!--/ profile-page-wall -->

        </div>

    </div>
</div>

@section scripts{
    <script>
        $(function () {

        });
        function CerrarPanel() {
            $("#pnlbuscador").velocity(
                { translateY: 0 }, {
                    duration: 225,
                    queue: false,
                    easing: 'easeInOutQuad',
                    complete: function () { $(this).css({ display: 'none' }); }
                }
               );
        };

        //var myapp = angular.module("app", []);

        myapp.controller("ctrl", function ($scope, $http) {
            $scope.articulos = [];
            $scope.articulo = { Estado: true };
            $scope.Mantener = function () {
                $http.post('@Url.Action("Mantener", "Articulo")', $scope.articulo)
                .success(function (d) {
                    Materialize.toast('Se guardó Correctamente', 4000);
                    $scope.articulo = { Estado: true };
                });
            }
            $scope.Buscar = function () {
        
                $http.get('@Url.Action("Buscar", "Articulo")', { params: { pClave: $scope.txtbuscar } })
                .success(function (d) {
                    $scope.articulos = d;
                });
            }
            $scope.ProcesarArticulo = function (a) {
                $scope.articulo = {};
                $scope.articulo = a;
                $("#cboCategoria").val(a.MarcaId).material_select();
                $("#cboMarca").val(a.CategoriaId).material_select();
            }

        });
    </script>
}


