<div class="container">

    <div id="mail-app" class="section">
        <div class="row">
            <div class="col s12">
                <nav class="red">
                    <div class="nav-wrapper">
                        <div class="input-field">
                            <div class="input-field col s5">

                                <imput class="header-search-wrapper hide-on-med-and-down" />
                                <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Buscar en la Tienda OnLine" />

                            </div>

                        </div>
                    </div>
                </nav>

            </div>
            <div class="col s12">

                <div id="email-list" class="col s12 m12 l12 card-panel z-depth-1">
                    <ul class="collection">
                        <li class="collection-item avatar email-unread">
                            <div class="masonry-gallery-wrapper">
                                <div class="popup-gallery">
                                    <div class="gallary-sizer"></div>
                                    <div class="gallary-item">
                                        <a href="images/gallary/1.jpg" title="The Cleaner"><img src="~/images/img2.jpg" style="position:absolute;left:0px; width:70px;"></a>
                                    </div>
                                </div>
                            </div>

                            <a><h4>Celulares y Tablets</h4></a>
                            <p class="truncate grey-text ultra-small">GARANTITO 6 MESI ! POTENTE ! GRADO B USATO GUARDA FOTO.</p>
                            <a class="secondary-content email-time">
                                <div>
                                    <button class="waves-effect waves-light btn modal-trigger light-blue" href="#modal2">Registrar</button>
                                    <button class="waves-effect waves-light btn modal-trigger teal" href="#modal4">Eliminar </button>
                                </div>
                            </a>

                        </li>
                        <li class="collection-item avatar email-unread">
                            <div class="masonry-gallery-wrapper">
                                <div class="popup-gallery">
                                    <div class="gallary-sizer"></div>
                                    <div class="gallary-item">
                                        <a href="images/gallary/1.jpg" title="The Cleaner"><img src="~/images/img2.jpg" style="position:absolute;left:0px; width:70px;"></a>
                                    </div>
                                </div>
                            </div>
                            <a><h4>Computo</h4></a>
                            <p class="truncate grey-text ultra-small">Samsung Galaxy Tab 4 10.1 sm-t530 16 Gb, Wi-fi Tablet Pc Pad Blanco-Fedex </p>
                            <a class="secondary-content email-time">
                                <div>
                                    <button class="waves-effect waves-light btn modal-trigger light-blue" href="#modal2">Registrar</button>
                                    <button class= "waves-effect waves-light btn modal-trigger teal" href="#modal4">Eliminar </button>
                                </div>
                            </a>
                        </li>
                        <li class="collection-item avatar email-unread">
                            <div class="masonry-gallery-wrapper">
                                <div class="popup-gallery">
                                    <div class="gallary-sizer"></div>
                                    <div class="gallary-item">
                                        <a href="images/gallary/1.jpg" title="The Cleaner"><img src="~/images/img2.jpg" style="position:absolute;left:0px; width:70px;"></a>
                                    </div>
                                </div>
                            </div>
                            <a><h4>Tv Audio y foto</h4></a>
                            <p class="truncate grey-text ultra-small">Thl T6c 5" Android Quad Core Dual Sim 8mp Cámara Móvil 3g Smart Phone Desbloquea...</p>
                            <a class="secondary-content email-time">
                                <div >
                                    <button class=" waves-effect waves-light btn modal-trigger  light-blue"  href="#modal2" >Registrar</button>
                                    <button class=" waves-effect waves-light btn modal-trigger  teal" href="#modal4" >Eliminar </button>
                                </div>
                            </a>
                        </li>
                        <li class="collection-item avatar email-unread">

                            <div class="masonry-gallery-wrapper">
                                <div class="popup-gallery">
                                    <div class="gallary-sizer"></div>
                                    <div class="gallary-item">
                                        <a href="images/gallary/1.jpg" title="The Cleaner"><img src="~/images/img2.jpg" style="position:absolute;left:0px; width:70px;"></a>
                                    </div>
                                </div>
                            </div>
                            <a><h4>Accesorio de Computadoras</h4></a>
                            <p class="truncate grey-text ultra-small">Mini 2.4 g Wireless Fly Air Teclado Mouse Touchpad Para Smart Tv Xbox Pc Android...</p>
                            <a class="secondary-content email-time">
                                <div>
                                    <button class=" waves-effect waves-light btn modal-trigger light-blue" href="#modal2">Registrar</button>
                                    <button class=" waves-effect waves-light btn modal-trigger teal" href="#modal4">Eliminar </button>
                                </div>
                            </a>
                        </li>
                        <li class="collection-item avatar email-unread">
                            <div class="masonry-gallery-wrapper">
                                <div class="popup-gallery">
                                    <div class="gallary-sizer"></div>
                                    <div class="gallary-item">
                                        <a href="images/gallary/1.jpg" title="The Cleaner"><img src="~/images/img2.jpg" style="position:absolute;left:0px; width:70px;"></a>
                                    </div>
                                </div>
                            </div>
                            <a><h4>Mas</h4></a>
                            <p class="truncate grey-text ultra-small">You have 5 new mail today.</p>
                            <a class="secondary-content email-time">
                                <div>
                                    <button class=" waves-effect waves-light btn modal-trigger light-blue" href="#modal2">Registrar</button>
                                    <button class=" waves-effect waves-light btn modal-trigger teal" href="#modal4">Eliminar </button>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Compose Email Trigger -->
        <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
            <a class="btn-floating btn-large red modal-trigger" href="#modal1">
                <i class="mdi-editor-border-color"></i>
            </a>
        </div>



        <!-- Compose Email Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <nav class="red">
                    <div class="nav-wrapper">
                        <div class="left col s12 m5 l5">
                            <ul>
                                <li>
                                    <a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                                </li>
                                <li>
                                    <a href="#!" class="email-type">Añadir Producto</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col s12 m7 l7 hide-on-med-and-down">
                            <ul class="right">
                                <li>
                                    <a href="#!"><i class="mdi-editor-attach-file"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>
            <div class="model-email-content">
                <div class="row">
                    <form class="col s12">
                        <!--<div class="row">
                          <div class="input-field col s12">
                            <input id="from_email" type="email" class="validate">
                            <label for="from_email">From</label>
                          </div>
                        </div> -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="to_email" type="email" class="validate">
                                <label for="to_email">Nombre del Producto</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="subject" type="text" class="validate">
                                <label for="subject">Categoria del Producto</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="compose" class="materialize-textarea" length="500"></textarea>
                                <label for="compose">Descripcion del Producto</label>
                            </div>
                            <div class="input-field col s4">
                                <a href="index.html" class="btn waves-effect waves-light col s12">Añadir Nuevo Ahora!</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- REGISTRARSE-->


        <div id="modal2" class="modal">
            <div class="modal-content">
                <nav class="red">
                    <div class="nav-wrapper">
                        <div class="left col s12 m5 l5">
                            <ul>
                                <li>
                                    <a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                                </li>
                                <li>
                                    <a href="#!" class="email-type">Registrar Producto</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col s12 m7 l7 hide-on-med-and-down">
                            <ul class="right">
                                <li>
                                    <a href="#!"><i class="mdi-editor-attach-file"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="mdi-navigation-more-vert"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>
            <div class="model-email-content">
                <div class="row">
                    <form class="col s12">
                        <!--<div class="row">
                          <div class="input-field col s12">
                            <input id="from_email" type="email" class="validate">
                            <label for="from_email">From</label>
                          </div>
                        </div> -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="to_email" type="email" class="validate">
                                <label for="to_email">Nombre del Producto</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="subject" type="text" class="validate">
                                <label for="subject">Categoria del Producto</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="compose" class="materialize-textarea" length="500"></textarea>
                                <label for="compose">Descripcion del Producto</label>

                            </div>
                            <div class="input-field col s4">
                                <a href="index.html" class="btn waves-effect waves-light col s12">Registrase Ahora!</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
   
<!-- ELIMINAR-->
<div id="modal4" class="modal fixed-footer" style="width:370px">
    <div class="modal-content teal">

        <div id="login-page" class="row">
           
            <div class="col s12 m12 l12 z-depth-4 card-panel">
                <form class="login-form">
                    <div class="row">
                        <div class="left col s12 m5 l5">
                            <ul>
                                <li>
                                    <a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                                </li>
                                <li>SALIR</li>
                            </ul>
                        </div>
                        <div class="input-field col s12 center">
                            <p class="center">¿Seguro que desea eliminar producto?</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <a href="index.html" class="btn waves-effect waves-light col s12">Eliminar Ahora!</a>
                        </div>
                        <div class="input-field col s12">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>





