<!DOCTYPE html>
<html lang="es-pe">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Tienda Online Ayacucho">
    <meta name="keywords" content="tienda,online,ayacucho,huamanga">
    <title>Tienda Ayacucho</title>

    <!-- Favicons-->
    <link rel="icon" href="~/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="~/images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="~/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="~/css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="~/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!--<link href="~/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">-->
</head>

<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li><h1 class="logo-wrapper"><a href="@Url.Action("Index","Home")" class="brand-logo darken-1"><img src="~/images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Buscar en la Tienda OnLine" />
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>
                        <li>
                            <a href="#modal2" class="waves-effect waves-block waves-light modal-trigger"><i class="mdi-action-perm-identity left"></i>Iniciar Sesion</a>
                        </li>
                        <li>
                            <a href="#modal5" class="waves-effect waves-block waves-light modal-trigger"><i class="mdi-action-shopping-cart"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="~/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li>
                                        <a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Administrator</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold">
                        <a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Equipos de Cómputo</a>
                    </li>



                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">
                @RenderBody()
            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- CARRITO-->
            <div id="modal5" class="modal bottom-sheet">
                <div class="modal-content">

                    <div class="row">
                        <div class="col s12 m12 l9">
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <div class="row" style="padding: 0;margin-right:0 ">
                                        <div class="col s7 m7 l7 " >
                                            <img src="~/images/avatar.jpg" alt="" class="circle">
                                            <p>TABLET LEOTEC LETAB1016 Supernova S16(QUAD CORE-16GB-1GB-DUALCAM-ANDROID 5.1) 10" -NEGRO </p>
                                            <p>Precio S/.58.36</p>
                                            <a href="#!" class="secondary-content"><i class="mdi-content-clear font2em"></i></a>
                                        </div>
                                        <div class="col s5 m5 l5 ">
                                            <div class="row">
                                                <div class="col s12 m6 l6 valign-wrapper ">
                                                    <label> Cant.: &nbsp;</label> <h6> 50</h6>
                                                </div>
                                                <div class="col s12 m6 l6 valign-wrapper ">
                                                    <h6 style="float: right">S/99.99</h6>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                </li>
                                <li class="collection-item avatar">
                                    <div class="row">
                                        <div class="col s7 m7 l7 ">
                                            <img src="~/images/avatar.jpg" alt="" class="circle">
                                            <p>TABLET LEOTEC LETAB1016 Supernova S16(QUAD CORE-16GB-1GB-DUALCAM-ANDROID 5.1) 10" -NEGRO </p>
                                            <p>Precio S/.58.36</p>
                                            <a href="#!" class="secondary-content"><i class="mdi-content-clear font2em"></i></a>
                                        </div>
                                        <div class="col s5 m5 l5 ">
                                            <div class="row">
                                                <div class="col s12 m6 l6 valign-wrapper ">
                                                    <label> Cant.: &nbsp;</label> <h6> 50</h6>
                                                </div>
                                                <div class="col s12 m6 l6 valign-wrapper ">
                                                    <h6 style="float: right">S/99.99</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="collection-item avatar">
                                    <div class="row">
                                        <div class="col s7 m7 l7 ">
                                            <img src="~/images/avatar.jpg" alt="" class="circle">
                                            <p>TABLET LEOTEC LETAB1016 Supernova S16(QUAD CORE-16GB-1GB-DUALCAM-ANDROID 5.1) 10" -NEGRO </p>
                                            <p>Precio S/.58.36</p>
                                            <a href="#!" class="secondary-content"><i class="mdi-content-clear font2em"></i></a>
                                        </div>
                                        <div class="col s5 m5 l5 ">
                                            <div class="row">
                                                <div class="col s12 m6 l6 valign-wrapper ">
                                                    <label> Cant.: &nbsp;</label> <h6> 50</h6>
                                                </div>
                                                <div class="col s12 m6 l6 valign-wrapper ">
                                                    <h6 style="float: right">S/99.99</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                        <div class="col s12 m12 l3">
                            <div class="card-panel">
                                <div class="row">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="mdi-av-fast-forward prefix"></i>
                                                <input id="name3" type="text" value="S/ 999.99">
                                                <label for="first_name">Sub Total</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="mdi-maps-local-shipping prefix"></i>
                                                <input id="name3" type="text" value="S/ 999.99">
                                                <label for="first_name">Gastos de Envío</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12 ">
                                                <i class="mdi-maps-local-grocery-store prefix"></i>
                                                <input id="name35" type="text" value="S/ 999.99">
                                                <label>TOTAL</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <button class="btn pink waves-effect waves-light right" type="submit" name="action" style="width: 100%">
                                                        PROCESAR COMPRA
                                                        <i class="mdi-content-send right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> 
                    </div>
                   
                </div>
            </div>

                    <!-- END WRAPPER -->
        </div>
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span>Copyright © 2016 All rights reserved.</span>
                <span class="right"> Ayacucho-Perú</span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="~/js/plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/angular.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/angular-materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="~/js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="~/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
   <!-- <script type="text/javascript" src="~/js/plugins/chartist-js/chartist.min.js"></script> -->


    <!-- masonry -->
    <script src="~/js/plugins/masonry.pkgd.min.js"></script>
    <!-- imagesloaded -->
    <script src="~/js/plugins/imagesloaded.pkgd.min.js"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="~/js/custom-script.js"></script>

                    @RenderSection("javascript", false)
</body>

</html>