
<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Tienda Online Ayacucho">
    <meta name="keywords" content="tienda,online,ayacucho,huamanga">
    <title>Tienda Ayacucho</title>

    <!-- Favicons-->
    <link rel="icon" href="~/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="~/images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="~/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="~/css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="~/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!--<link href="~/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">-->
</head>

<body ng-app="appmestro">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li><h1 class="logo-wrapper"><a href="@Url.Action("Index","Home")" class="brand-logo darken-1"><img src="~/images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input id="txtBuscarProd" type="text" name="Search" class="header-search-input z-depth-2" placeholder="Buscar en la Tienda OnLine" />
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>
                        <li>
                            <a href="#modal2" class="waves-effect waves-block waves-light modal-trigger"><i class="mdi-action-perm-identity left"></i>Iniciar Sesion</a>
                        </li>
                        <li>
                            <a href="#modal5" class="waves-effect waves-block waves-light modal-trigger mostrarcarrito"><i class="mdi-action-shopping-cart"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>

    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main" ng-controller="ctrlmaestro">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="~/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li>
                                        <a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Administrator</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold">
                        <a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Equipos de Cómputo</a>
                    </li>



                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">
                @RenderBody()
            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- INICIAR SESION-->
            <div id="modal2" class="modal">

                <div id="preselecting-tab" class="section">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs z-depth-1 cyan" style=" ">
                                        <li class="tab col s3">
                                            <a class="white-text waves-effect waves-light active" href="#sapien">Iniciar Sesión</a>
                                        </li>
                                        <li class="tab col s3">
                                            <a class="white-text waves-effect waves-light " href="#activeone">Crear Cuenta</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col s12">
                                    <div id="sapien" class="col s12  ">

                                        <div class="row">
                                            <div class="col s12 m6 l6">
                                                <div class="input-field col s12">
                                                    <i class="mdi-social-person-outline prefix"></i>
                                                    <input id="username" type="text" ng-model="sesion.user">
                                                    <label for="username" class="center-align">EMAIL</label>
                                                </div>
                                            </div>
                                            <div class="col s12 m6 l6">
                                                <div class="input-field col s12">
                                                    <i class="mdi-action-lock-outline prefix"></i>
                                                    <input id="password" type="password" ng-model="sesion.p">
                                                    <label for="password">CONTRASEÑA</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <a href="#" class="btn waves-effect waves-light col s12 modal-action modal-close" ng-click="iniSesion()">INICIAR SESION SEGURA</a>
                                                </div>
                                            </div>

                                            <div class="row" style="font-size:smaller">
                                                <div class="input-field col offset-s6 s6 offset-m6 m6 offset-l6 l6 right-align">
                                                    <a href="#modal4" class="waves-effect waves-block waves-light modal-trigger">OLVIDÉ MI CONTRASEÑA</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="activeone" class="col s12  cyan lighten-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <!-- REGISTRARSE-->
            <div id="modal3" class="modal fixed-footer" style="width:370px">
                <div class="modal-content teal">

                    <div id="login-page" class="row">
                        <div class="col s12 m12 l12 z-depth-4 card-panel">
                            <form class="login-form">
                                <div class="row">
                                    <div class="input-field col s12 center">
                                        <p class="center">REGISTRO NUEVO USUARIO</p>
                                    </div>
                                </div>
                                <div class="row margin">
                                    <div class="input-field col s12">
                                        <i class="mdi-social-person-outline prefix"></i>
                                        <input id="username" type="text">
                                        <label for="username" class="center-align">Usuario</label>
                                    </div>
                                </div>
                                <div class="row margin">
                                    <div class="input-field col s12">
                                        <i class="mdi-communication-email prefix"></i>
                                        <input id="email" type="email">
                                        <label for="email" class="center-align">Email</label>
                                    </div>
                                </div>
                                <div class="row margin">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-lock-outline prefix"></i>
                                        <input id="password" type="password">
                                        <label for="password">Contraseña</label>
                                    </div>
                                </div>
                                <div class="row margin">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-lock-outline prefix"></i>
                                        <input id="password-again" type="password">
                                        <label for="password-again">Repita la Contraseña</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <a href="index.html" class="btn waves-effect waves-light col s12">Registrarse Ahora!</a>
                                    </div>
                                    <div class="input-field col s12">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>


            <!-- OLVIDO CONTRASEÑA-->
            <div id="modal4" class="modal fixed-footer" style="width:370px">
                <div class="modal-content teal">

                    <div id="login-page" class="row">
                        <div class="col s12 m12 l12 z-depth-4 card-panel">
                            <form class="login-form">
                                <div class="row">
                                    <div class="input-field col s12 center">
                                        <h4>¿Olvido su Contraseña?</h4>
                                        <p class="center">Puede Restablecerla</p>
                                    </div>
                                </div>
                                <div class="row margin">
                                    <div class="input-field col s12">
                                        <i class="mdi-social-person-outline prefix"></i>
                                        <input id="username" type="text">
                                        <label for="username" class="center-align">Usuario</label>
                                    </div>
                                </div>
                                <div class="row margin">
                                    <div class="input-field col s12">
                                        <i class="mdi-action-lock-outline prefix"></i>
                                        <input id="password" type="password">
                                        <label for="password">Contraseña</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <a href="index.html" class="btn waves-effect waves-light col s12">Restablecer Contraseña</a>
                                    </div>
                                    <div class="input-field col s12">
                                        <p class="margin sign-up"><a href="page-login.html">Loguearse</a> <a href="page-register.html" class="right">Registrarse</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CARRITO-->
            <div id="modal5" class="modal bottom-sheet">
                <div class="modal-content">

                    <div class="row">
                        <div class="col s12 m12 l9">
                            <ul class="collection">

                                <li class="collection-item avatar" ng-repeat="c in servicio.carrito">
                                    <div class="row" style="padding: 0;margin-right:0 ">
                                        <div class="col s7 m7 l7 ">
                                            <img src="~/images/avatar.jpg" alt="" class="circle">
                                            <p>{{c.Denominacion}}</p>
                                            <p>Precio S/ {{c.Precio | number:2}}</p>
                                            <a href="#!" class="secondary-content" ng-click="eliminar(c)"><i class="mdi-content-clear font2em"></i></a>
                                        </div>
                                        <div class="col s5 m5 l5 ">
                                            <div class="row">
                                                <div class="col s12 m6 l6 valign-wrapper ">
                                                    <label> Cant.: &nbsp;</label> <h6> {{c.Cantidad}}</h6>
                                                </div>
                                                <div class="col s12 m6 l6 valign-wrapper ">
                                                    <h6 style="float: right">S/ {{c.Precio * c.Cantidad | number:2 }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="col s12 m12 l3">
                            <div class="card-panel">
                                <div class="row">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12 ">
                                                <i class="mdi-maps-local-grocery-store prefix"></i>
                                                <input id="name35" type="text" value="S/ {{precioTotal() | number:2}}">
                                                <label>TOTAL</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <button class="btn pink waves-effect waves-light right" type="submit" name="action" style="width: 100%">
                                                        PROCESAR COMPRA
                                                        <i class="mdi-content-send right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- END WRAPPER -->
        </div>
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span>Copyright © 2016 All rights reserved.</span>
                <span class="right"> Ayacucho-Perú</span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="~/js/plugins/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/angular.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/angular-materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="~/js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="~/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <!-- <script type="text/javascript" src="~/js/plugins/chartist-js/chartist.min.js"></script> -->
    <!-- masonry -->
    <script src="~/js/plugins/masonry.pkgd.min.js"></script>
    <!-- imagesloaded -->
    <script src="~/js/plugins/imagesloaded.pkgd.min.js"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="~/js/custom-script.js"></script>
    <script>
        $('#txtBuscarProd').keypress(function (event) {
            if (event.which === 13) {
                event.preventDefault();
                window.location = "/Buscar/Productos/" + $('#txtBuscarProd').val();
            }
        });

        var myapp = angular.module("appmestro", []);
        myapp.factory("servicio", function () {
            var ret = function () { }
            ret.carrito = [];
            ret.agregarCarrito = function (a) {
                var itemActual;
                for (var i = 0; i < ret.carrito.length; i++) {
                    if (ret.carrito[i].ArticuloId == a.ArticuloId) {
                        itemActual = ret.carrito[i];
                    }
                }

                if (!itemActual) {
                    ret.carrito.push(a);
                } else {
                    itemActual.Cantidad++;
                }
                var jsonStr = JSON.stringify(ret.carrito);
                localStorage.setItem("cart", jsonStr);
                Materialize.toast('Se agregó al bolsa de compras', 4000);
                $(".mostrarcarrito").trigger("click");
            }
            return ret;
        });

        myapp.controller("ctrlmaestro", function ($scope, $http, servicio) {
            $scope.servicio = servicio;

            var cartValue = localStorage.getItem("cart");
            if (cartValue != null) {
                servicio.carrito = JSON.parse(cartValue);
            }

            $scope.eliminar = function (item) {
                servicio.carrito.splice(servicio.carrito.indexOf(item), 1);
                localStorage.setItem("cart", JSON.stringify(servicio.carrito));
            };

            $scope.precioTotal = function () {
                var total = 0;
                angular.forEach(servicio.carrito, function (item) {
                    total = total + (item.Cantidad * item.Precio);
                });
                return total;
            };

            $scope.iniSesion = function () {
                $http.post('@Url.Action("Autenticar", "Home")', $scope.sesion)
                .success(function (d) {
                    localStorage.setItem("user", d.user);
                    sessionStorage.setItem("p", d.p);
                    $scope.sesion.p = '';
                    Materialize.toast('Bienvenido ' + d.user, 4000);
                });
            };
            $scope.delSesion = function () {
                localStorage.removeItem('user');
                sessionStorage.removeItem("p");
            };

        });
    </script>
    @RenderSection("scripts", false)
</body>

</html>
