
<div>
    <p></p>
    <div class="row" ng-controller="ctrl">
        <div class="col s12 m12 l4">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="~/images/gallary/Lenovo.jpg" alt="img-1">
                    </li>
                    <li>
                        <img src="~/images/gallary/tapa.jpg" alt="img-2">
                    </li>
                    <li>
                        <img src="~/images/gallary/mouse.jpg" alt="img-3">
                    </li>
                    <li>
                        <img src="~/images/gallary/teclado.jpg" alt="img-4">
                    </li>
                </ul>
            </div>

        </div>


        <div class="col s12 m12 l8">
            <div class="row">
                <div class="col s12 m12 l12">{{producto.Denominacion}}</div>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <font color="green">10 DISPONIBLES</font><p>
                        {{producto.Descripcion}}</p>
                </div>
                <div class="col s12 m6 l6">
                    <s>S/. 4,999.00</s>    -20%<p><font color="red">S/. {{producto.Precio | number:2}}</font><p>Ahorra S/. 1,000.00<p>
                    <p><a class="btn btn-large waves-effect waves-light yellow darken-4" ng-click="servicio.agregarCarrito({ArticuloId:producto.ArticuloId,Denominacion:producto.Denominacion,Precio:producto.Precio,Cantidad:1})">AGREGAR AL CARRITO</a><p>
                    <font color="navy">Entrega en 7 días hábiles</font>
                    <p>Compra vía Telefono:   (066) 31 8687</p>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts
{
    <script>
        myapp.controller("ctrl", function ($scope, $http, servicio) {
            $scope.servicio = servicio;
            $scope.producto = {};
            
            $http.get('@Url.Action("ObtenerArticulo", "Detalle")',{ params: { pArticuloId: @ViewBag.ArticuloId } })
                  .success(function (d) {$scope.producto = d;}).error(function () { });

            
        
        });

        $(function () {
            $(".enlacecarrito").click(function () {
                $(".mostrarcarrito").trigger("click");
            });

        });


    </script>
}